<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>
<h2>{{ album.artist }}</h2>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'cloudplay:favourite' album.id %}" method="POST">
	{% csrf_token %}
	{% for song in album.sng_set.all %}
		<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
		<label for="song{{ forloop.counter }}">
			{{ song.song_title }}
			{% if song.is_favourite %}
				<img src="https://www.dropbox.com/s/fi1hirr4852hf2l/1477592735_Star%20Gold.png?dl=0">
			{% endif %}
		</label><br>
	{% endfor %}
	<input type="submit" name="Favourite">
</form>